extends layout/main_layout.pug


block content 
 main
  .container.w-50
    .list-group
      a.list-group-item.list-group-item-action(href='#') A simple default list group item
      a.list-group-item.list-group-item-action.list-group-item-primary(href='#')
        | A simple primary list
        | group item
      a.list-group-item.list-group-item-action.list-group-item-secondary(href='#')
        | A simple secondary
        | list
        | group item
      a.list-group-item.list-group-item-action.list-group-item-success(href='#')
        | A simple success list
        | group item
      a.list-group-item.list-group-item-action.list-group-item-danger(href='#')
        | A simple danger list
        | group
        | item
      a.list-group-item.list-group-item-action.list-group-item-warning(href='#')
        | A simple warning list
        | group item
      a.list-group-item.list-group-item-action.list-group-item-info(href='#')
        | A simple info list group
        | item
      a.list-group-item.list-group-item-action.list-group-item-light(href='#')
        | A simple light list
        | group
        | item
      a.list-group-item.list-group-item-action.list-group-item-dark(href='#')
        | A simple dark list group
        | item
    br 
    br 
    br
