extends layout/main_layout.pug


block content 
 header
  div
    h1.display-4.fw-bold.text-center.mt-4
      | Learn with 
      span#sitename Lingua
    .col-lg-6.mx-auto
      div
        .container.px-5
          img.img-fluid(src='img/home.png' alt='' width='600' height='550')
      p.lead.text-center.fw-bold
        | learn language by yourself, do exercises, take tests

