body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #DFBB9D;
    height: 90px;
}

.container {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

#sitename {
    color: #3E7C17;
    font-style: italic;
}

#search-button:hover {
    background-color: #E3CAA5;
}

#toggler-button:hover {
    background-color: #E3CAA5;
}

#global {
    font-size: xx-large;

}

footer {
    background-color: #DFBB9D;
    height: 120px;
}

#footerlink {
    display: block;
    text-align: center;
}

#footeri {
    margin-top: 30px;
    font-size: xx-large;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: contain;
}

#wordcard {
    text-align: center;
}

@media(mid-width:768px) {
    .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: contain;
    }
}

h1#notfound {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;

}