doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css' integrity='sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' type="text/css" href='css/style.css')
  block styles
nav.navbar.navbar-expand-md.navbar-light
  .container
    a#global.navbar-brand.me-4(href='/')
      i.fa-solid.fa-globe
    button#toggler-button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#mobile')
      span.navbar-toggler-icon
    #mobile.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item.me-2
          a#sitename.nav-link.active(href='/') Lingua
        li.nav-item.me-2
          a.nav-link.active(href='') Home
        li.nav-item.me-2
          a.nav-link(href='/list') Word List
        li.nav-item.me-2
          a.nav-link(href='/card') Word Card
        li.nav-item.me-2
          a.nav-link(href='/add') Add Card
        li.nav-item.me-2
          a.nav-link(href='/cardlist') Edit Cards
      form.d-flex
        input.form-control.me-1(type='text')
        button#search-button.btn
          i.fa-solid.fa-magnifying-glass
block content

footer
  .container
    a#footerlink(href='https://github.com/eminebusrasalihoglu')
      i#footeri.fa-brands.fa-github
script(src=' https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
